* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 20px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 90px;
}
a {
  text-decoration: none;
}
.header-container h3 {
  color: #f9faf8;
  size: 24px;
}

nav a {
  size: 18px;
  color: #e5e7eb;
  margin-right: 20px;
}

nav a:last-child {
  margin-right: 0px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  background-color: #1f2937;
  padding: 5px;
  padding-left: 150px;
  padding-right: 150px;
  color: #f9faf8;
  height: 220px;
  padding-bottom: 100px;
}

.hero-container div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-container * {
  margin: 3px; /* adjust as needed */
}

.hero-container h1 {
  font-size: 48px;
}

.button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  align-items: start;
  width: 60px;
  border-radius: 10px; /* adjust as needed */
}

.placeholder {
  display: flex;
  width: 500px;
  height: 100%;
  background-color: gray;
  justify-content: center;
  align-items: center;
}
.box {
  width: 150px; /* adjust as needed */
  height: 150px; /* adjust as needed */
  border: 3px solid blue; /* adjust as needed */
  background-color: white;
  margin-right: 30px;
  margin-bottom: 5px;
  border-radius: 10px; /* adjust as needed */
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  padding-left: 150px;
  padding-right: 150px;
  color: #1f2937;
  height: 220px;
  padding-bottom: 100px;
}

.boxes {
  /* This makes the boxes a flex container in the row direction */
  display: flex;
}
.content-container p {
  display: block;
  width: 150px;
}

.content-container h2 {
  margin: 30px;
}

.quote-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #1f2937;
  padding: 5px;
  padding-left: 150px;
  padding-right: 150px;
  color: #1f2937;
  background-color: #e5e7eb;
  height: 220px;
  padding-bottom: 10px;
}
