

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 20px;
  }
  
  .logo .header-container {
    height: 50px; /* Adjust as needed */
  }
  
  nav a {
    margin-right: 20px;
  }
  
  nav a:last-child {
    margin-right: 110px;
  }